*{ margin: 0;
		padding: 0;}
		

.icon {
       width: 1em; height: 1em;
       vertical-align: -0.15em;
       fill: currentColor;
       overflow: hidden;
    }
.clearfix::after{
	content:'';
	display: block;
	clear: both;
}  
a{ text-decoration: none;
	} 
li{ list-style: none;}	
 @font-face {
 	font-family:setFont;
 	src: url("PFXT.otf");
 } 
 @font-face {
 	font-family:pfct;
 	src: url("pfct.otf ");
 }  
@font-face {
	font-family:pflight;
	src: url("pflight.otf");
}
 body{ 
 		font-family:setFont;
 		}   
 /*TOP STRIP*/		
.top-outerWrapper{ background: #444;
					right:0;
					width: 100%;
					height: 40px;}
					
.topStrip{ margin: 0 auto;
			height: 40px;
			max-width: 976px;
			text-decoration: none;  /*-color  -line -style*/
			text-overflow: ellipsis;  /*省略号*/
			text-align: right;
			line-height: 40px;
			color: #a8a8aa;
			font-size: 12px;}
/*NAV*/			
.navBar{height: 44px;
		width: 100%;
		background: rgba(0,0,0,0.8);
		overflow: hidden;
		}
.navBar .bar-menu{ 
					position: relative;	
					cursor: default;
					margin: 0 auto;
					max-width: 1024px;
					}		
.navBar .bar-menu>ul>li{ float: left;
	list-style-type: none;
	background-origin: content-box;
	background-position: center center; 
	color: #fff;
	font-size: 14px;
	position: relative;
	}
.navBar .bar-menu>ul>li:nth-child(even){
	margin: 0 66px;
}	
		
.navBar .bar-menu>ul>li>a{ text-decoration: none;
			color:#FFFFFF;
			line-height: 44px;
			display:block;
			font-family:setfont;
			padding: 0 10px;
			}	
/*.navBar .bar-menu>ul>li:nth-child(1)>a{
	padding-top: 12px;
}			*/

.navBar .bar-menu>ul>li svg{ height: 22px;
	width: 22px;
	color: #fff;	
	padding-top: 10px;
	}
	
/*BANNER*/	
.banner{ width: 100%;
	height: 580px;
	background: #fafafa;
	}	
.banner>h1,.sectionWrapper>.sectionTitleWrapper>.sectionTextTitle{ height:60px;
	font-size: 56px;
	line-height: 56px;
	text-align: center;
	font-weight: 700;
	display: block;
	padding-top: 88px;
	}
.banner>h2{ height: 31px;
		margin-top: 8px;
		font-size:27px;
			font-weight: 400;
			text-align: center;
			display: block;
			line-height: 31px;}	
.banner .banner-img{ height: 194px;
	width: 909px;
	margin: 0 auto;
	position: absolute;
	left: calc(50% + 0px);       /* 1  +  左右空格*/
	transform: translateX(-50%);  /* 2组合使用 居中*/ 
	background-repeat: no-repeat;
	background-image: url(../img/iphone_x_large.jpg);
	margin-top:90px
	}	
/*main 1*/
.mainWrapper{ width: 100%;
		height: 600px;
		background: #b00e23;
		}
.mainWrapper>.mainTitle{ width: 100%;
	position: relative;
	text-align: center;
	padding-top: 47px;
	}	
.mainTitle>.violator{ border: 1px solid #FFFFFF;
						border-radius: 4px;
						font-size: 17px;
						display: inline-block;
						padding: 4px 15px;
						color: #FFFFFF;
						white-space: nowrap;
						}	
.mainTitle>h3{ height: 60px;
				text-align: center;
				font-size: 56px;
				font-weight: 700;
				color: #FFFFFF;
				margin-top: 20px;
				line-height: 60px;}	
	
.mainLinks{ text-align: center;
		margin-top: 20px;}
.mainLinks a{ text-decoration: none;
				color: #FFFFFF;
				font-size: 18px;
				line-height: 22px;
				}	
				
.mainLinks a:after{
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg);
    margin-left: 5px;
    -webkit-transform: rotate(45deg);
}		
.mainLinks a:nth-child(1){ margin-right: 20px;}											
.mainOnePrice,.sectionOnePrcture{ width: 334px;
			height: 335px;
			background-image: url(../img/hero_large.png);
			margin-top: 62px;
			left: calc(50% + 0px);
			position: absolute;
			transform:translateX(-50%);}
.sectionOnePrcture{ background-image:url(../img/ipad_large.jpg);
		width: 1068px;
		height: 396px;
		margin-top:50px; }			

/*section*/
.sectionWrapper{ height: 580px;
					background: #f5f5f5;
					}
.sectionTitleWrapper{ padding-top: 38px;}					
.sectionWrapper>.sectionTitleWrapper>.sectionTextTitle	{ 
	padding-top: 0;
	color: #111;
	font-weight: 700;
	}		
.sectionWrapper>.sectionTitleWrapper>h2{font-size: 27px;
	text-align: center;
	line-height: 27px;
	color: #111; 
	margin-top: 8px;
	font-family:"setfont";}
	
/*SAMLL BLOCK*/	
.sectionWrapper-2{ 
					width:100%;
					background: #F5F5F5;
					display: flex;
 					}
.sectBox{ flex: 1;
		} 					
.sectionWatch,.sectionMacbook,.sectionPod{ 
	text-align: center;
	border-right: 12px solid  #FFFFFF;
	border-left: 12px solid #FFFFFF;
	border-top: 12px solid #FFFFFF;
	height: 580px;
	padding-top: 40px;
	background: #eee;
	}
.sectionMacbook{ background:#FAFAFA ;}	
.sectionPod{background: #fafafa;
		border-bottom: 12px solid #FFFFFF;}


.sectionPay,.traded,.sectionPwhy{ 	background: #FAFAFA;
				padding-top:40px;
				border-top: 12px solid #FFFFFF;
				border-right: 12px solid  #FFFFFF;
				text-align: center;
				height: 580px;}	
.sectionPwhy{border-bottom: 12px solid #FFFFFF;}
					
.sectionWatch>h5,.sectionPay>h5,.sectionMacbook>h5,.traded>h5,.sectionPod>h5,.sectionPwhy>h5{
				line-height: 20px;
				font-size: 21px;
				color: #333;
				letter-spacing: 2px;
				margin-top: 20px; 
				z-index: 2;}	
.sectionPay>h4{font-size: 36px;
				color: #000;
				font-family: "微软雅黑";
				z-index: 2;
			}				
												
.watch-logo{ max-width: 430px;
				height: 49px;
				margin: 0 auto;
				display: inline-block;
				text-align: center;
				display:block;
			}	
.macBook-title,.sectionPwhy>span,.traded> span{ font-size: 36px;
			font-family: "微软雅黑";
			font-weight: 700;
			letter-spacing: initial;
			line-height: 40px;
			color: #111;
			margin-top: 30px;
			display: block;
			}	
.sectionPwhy span,.sectionPwhy h5{color: #FFFFFF;}	
				
.traded h5{ line-height: 30px;
		letter-spacing:0;
		}	
.witch-img{height: 432px;
			width: 483px;
			background-repeat: no-repeat;
			margin: 0 auto;
			margin-top: 20px;
	background-image: url(../img/watch_series_3_large.jpg);
}	
.macBook-img{height: 430px;
			width: 516px;
			background-repeat: no-repeat;
			margin: 0 auto;
			margin-top: 80px;
	background-image:url(../img/macbook_pro_large.jpg);
}
.pod-img{height: 304px;
			width: 385px;
			background-repeat: no-repeat;
			margin: 0 auto;
			margin-top: 80px;
	background-image:url(../img/airpods_large.jpg);
}	
.pwhy-img{height: 430px;
		width: 490px;
		background-repeat: no-repeat;
		margin: 0 auto;
			margin-top: 40px;
		background-image: url(../img/iphone_switch_large.png);}
.sectionPwhy{background: linear-gradient(to bottom, #4a8394 0%,#98d8e9 100%);
		color:#FFFFFF; }
/*.traded-img{height:490px;
			width: 516px;
			background-repeat: no-repeat;
			margin: 0 auto;
			bottom: 0;
	
}*/
/*.pay-img{ width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			position: relative;
			}
.pay-img-1{ background-image:url(../img/apple_pay_new_life_medium.jpg);
			margin: 0 auto;
			height:450px;
			width: 	516px;
			margin-top:-60px;
			z-index: 1;
			
			transform: translateX(-50px);} */
.globalfooter{ height: 500px;
				width: 100%;
				
				justify-content:flex-start ;
				background: #F5F5F5;}
.footerwrapper{ width: 980px;
		height: 337px;
		display: flex;
				flex-wrap: nowrap;
		margin: 0 auto;}					
.apple-buy-grid,.apple-about,.apple-account,.apple-application,.apple-stroe{ flex: 1;
			height: 466px;
			}
.apple-buy-grid label,.apple-about label,.apple-account label,.apple-application label,.apple-stroe label{ margin-top: 40px; display: block;}							
.apple-buy-grid label>h3,.apple-about label>h3,.apple-account label>h3,.apple-application label>h3,.apple-stroe label>h3{ color: #333;
font-size: 12px;
margin-bottom: 10px;
font-weight: 500;
font-family:"pflight";
}	
.apple-buy-grid li>a,.apple-about li>a,.apple-account li>a,.apple-application li>a,.apple-stroe li>a	{ color: #555;
font-size: 11px;
line-height: 26px;
font-family: "PFXT";
}	
.footer-shop{ width: 980px;
	line-height: 40px;
	font-size: 12px;
	color: #888;
	margin: 0 auto;
	margin-top: 40px;
	border-bottom: 1px solid  #d6d6d6;}
.footer-shop a{ color: #0070c9;}	
.footer-legal-warpper{ color: #888;
		width: 980px;
		font-weight: 700;
		line-height: 40px;
		font-size: 12px;
		margin: 0 auto;}	
.footer-legal { float: left;
				}					
.footer-links{ float: left;
				margin-left: 40px;
				}
.footer-links a{ display: inline-block;
	 line-height: 16px;
	 width: 60px;
	 color: #888;
	 cursor: pointer;
	 text-align: center;
	 border-right: 1px solid #A8A8AA;}
.footer-links a:nth-child(5) { border:none;}	 
.footer-record{ width: 980px;
	height: 30px;
	margin: 0 auto;
	font-size: 12px;
	color: #999;
	line-height: 30px;
				}						
							
								
			
	
				
						
						
			
